h1 {
  text-align: center;
  color: aqua;
  font: arial;
}
body {
  background-color: rgb(41, 41, 41);
}
p.password {
  color: tomato;
  text-align: center;
}
a.home {
  color: aqua;
}
